@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
	    background-color: white;
        font-family: 'Poppins', sans-serif;
    }
    body nav {
        padding-top: 16px;
        margin-right: 3.2px;
        margin-left: 16px;
    }
    body nav h4 {
        position: absolute;
        cursor: pointer;
    }
    body nav ul {
        display: flex;
        float: right;
    }
    body nav ul li {
        float: right;
        padding-left: 16px;
        flex-direction: row;
        list-style: none;
        cursor: pointer;
    }
    body h2 {
        text-decoration: underline;
        text-decoration-color: #0026ffd8;
        text-decoration-thickness: 5px;
    }
    main {
        width: 100%;
        display: flex;
        padding: 32px;
        padding-top: 64px;
        font-weight: bold;
        flex-direction: column;
    }
    main p {
        font-size: 32px;
    }
    main .sub {
        padding-top: 6.4px;
        font-size: 12.8px;
        font-weight: 500;
    }
    main h2 {
        font-size: 24px;
        font-weight: bolder;
        padding-top: 4.8px;
        text-decoration: none;
    }
    main h2 span {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #0026ffd8;
    }
    main .banner {
        margin-top: 48px;
    }
    main .banner img {
        height: 288px;
    }
    a {
        color: black;
    }
    a:visited {
        background-color: black;
    }
    a:hover {
        text-decoration: underline;
        text-decoration-color: #0026ffd8;
        text-decoration-style: unset;
        text-decoration-thickness: 5px;
    }
    .kallakar {
        width: 100vw;
        display: flex;
        flex-direction: column;
        padding: 32px;
        justify-self: center;
        justify-content: center;
    }
    .kallakar .skill {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-self: center;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.062);
        padding: 45.8px;
        border-radius: 32px;
        box-shadow: - 6px -6px 6px rgba(255, 255, 255, 0.966), 6px 6px 6px rgba(0, 0, 0, 0.233);
    }
    .kallakar .skill img {
        position: absolute;
        top: 48px;
        /* left: 5px; */
        align-self: center;
        flex-direction: row;
        height: auto;
        width: 112px;
        opacity: 50%;
    }
    .kallakar .skill ul {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        z-index: 1;
    }
    .kallakar .skill ul li {
	font-weight: 600;
        list-style: none;
        padding-bottom: 16px;
    }
    .kallakar .about {
        width: 100%;
        margin-top: 32px;
        text-align: center;
    }
    .kallakar .about p {
        margin-top: 32px;
        text-align: left;
    }
    .social {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .social h2 {
        margin-bottom: 24px;
    }
    .social .sublink {
        display: flex;
    }
    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3.2px;
        margin: 8px;
        height: 50px;
        width: 100px;
        background-color: #f0f8ff;
        cursor: pointer;
        border-radius: 16px;
        box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.959), 6px 6px 12px rgba(0, 0, 0, 0.158);
    }
    .links:hover {
        box-shadow: inset 3px 3px 3px #0026ffd8, inset -3px -3px 3px #0026ffd8;
        
    }
    .social .links a {
        position: absolute;
    }
    footer {
        width: 100%;
        background-color: #0026ffd8;
        color: whitesmoke;
        margin-top: 30px;
        text-align: center;
        padding: 10px;
    }

    .contact-us {
        padding: 10px;
        background-color: #ffffff;
        /* box-shadow: -2px 40px 34px -24px rgba(0, 0, 0, 0.2);
        border: solid 7px #4c9cef;
        border-left-color: #f7639a;
        border-right-color: #f7639a; */
    }
    
    .contact-us-detail {
        /* background-color: #4c9cef; */
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 600;
    }
    
    .form-group {
        margin-bottom: 25px;
    }
    
    .form-control {
        border: 2px solid transparent;
        height: 50px;
        border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
        -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
           -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
            -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
             -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        -webkit-transition:all 150ms ease-in-out 0s;
           -moz-transition:all 150ms ease-in-out 0s;
            -ms-transition:all 150ms ease-in-out 0s;
             -o-transition:all 150ms ease-in-out 0s;
                transition:all 150ms ease-in-out 0s;
    }
    .form-control:focus {
        border-color: #171717;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
            -ms-box-shadow: none;
             -o-box-shadow: none;
                box-shadow: none;
    }
    
    .form-control:focus {
        border-color: #4c9cef;
        border-width: 2px;
    }
    
    .margin-top-bottom {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .custom-margin {
        margin-top: 80px;
    }
    
    .button {
        border: none;
        border-radius: 5px;
        font-size: 17px;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 20px 60px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    /* .button:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    } */
    
    .button-style {
        border: 3px solid #fff;
        color: #fff;
    }
    
    .button-style-color-2:hover,
    .button-style-color-2:active,
    .button-style-color-2:focus {
        color: #ffffff;
        background: #0026ffd8;
    }
    
    .button-style-dark {
        border: 3px solid #000000;
        color: #000000;
    }

    .projects {
        position: relative;
        height: 200px;
        margin-top: 16px;
        /* max-width: 900px; */
        overflow: hidden;
        background: #fff;
    }
    .project-info {
        position: absolute;
        /* top: 50%; */
        /* transform: translateY(-50%); */
        margin-left: 300px;
        padding: 15px;
    }
    .project-info h5 {
        font-size: 50px;
        font-weight: 300;
        color: #374054;
        /* margin: 0 0 15px 0; */
    }
    .project-info p {
        color: #74808a;
        /* margin: 0 0 15px 0; */
        font-size: 16px;
    }

    .project-info a {
        font-size: 20px;
        padding: 12px;
    }
    


@media only screen and (min-width: 280px) {
    main .banner img {
        position: sticky;
        right: 0;
        width: 260px;
        height: 220px;
    }
    .project-info {
        position: relative;
        margin: 0;
        /* padding: 30px 15px; */
        top: auto;
        transform: none;
    }
}

@media only screen and (min-width: 300px) {
    main .banner img {
        position: sticky;
        right: 0;
        width: 280px;
        height: 250px;
    }
     .project-info {
        position: relative;
        margin: 0;
        /* padding: 30px 15px; */
        top: auto;
        transform: none;
    }
}

@media only screen and (min-width: 350px) {
	 body {
		margin: 16px;
	}
	 body nav {
		 padding-left: 16px;
		 margin-left: 16px;
	}
	 main {
		 padding-left: 32px;
/* 		 flex-direction: row; */
	}
	 main p {
		 font-size: 48px;
	}
	 main h2 {
		 font-size: 24px;
	}
	 main .sub {
		 font-size: 16px;
		 font-weight: 500;
	}
	 main .banner {
		 padding-left: 1px;
		 /* position: relative; */
		 right: 0;
		 margin-top: -16px;
	}
    main .banner img {
        position: relative;
        right: 0;
        width: 284px;
        height: 236px;
    }
	 .kallakar {
		 flex-direction: column;
		 justify-content: space-evenly;
	}
	 .kallakar .skill {
		 width: auto;
		 justify-self: center;
		 align-content: center;
		 justify-content: space-between;
	}
	 .kallakar .about {
		 width: 100%;
		 justify-self: center;
		 justify-content: center;
		 padding: 32px;
		 align-self: center;
		 align-content: center;
	}
	.project-info {
		position: relative;
		margin: 0;
		/* padding: 30px 15px; */
		top: auto;
		transform: none;
    	}
	 .kallakar .about p {
		 text-align: left;
	}
}

@media only screen and (min-width: 500px){
    main .banner img {
        position: sticky;
        right: 0;
        width: 320px;
        height: 270px;
   }
	.project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }
}

@media only screen and (min-width: 400px) {
    main{
        flex-direction: row;
    }
    main .banner img {
        position: sticky;
        height: 215px;
        right: 0;
        width: 300px;
        height: 249px;
    }
    .project-info {
        position: relative;
        margin: 0;
        /* padding: 30px 15px; */
        top: auto;
        transform: none;
    }
}

@media only screen and (min-width: 600px) {
    main .banner img {
        position: sticky;
        right: 0;
        width: 350px;
        height: 280px;
    }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
   }
}

@media only screen and (min-width: 700px) {
	body {
		 padding-left: 48px;
		 padding-right: 48px;
	}
    	.project-info {
		position: relative;
		margin: 0;
		padding: 30px 15px;
		top: auto;
		transform: none;
   	}
	main {
		 padding-left: 58px;
		 padding-right: 58px;
/* 		 flex-direction: row; */
		 justify-content: space-between;
	}
	main p {
		 font-size: 64px;
	}
	main h2 {
		 font-size: 40px;
	}
	main .sub {
		 font-size: 20.8px;
		 font-weight: 500;
	}
	main .banner {
		 margin-top: -16px;
	}
	main .banner img {
		 position: sticky;
		 right: 0;
		padding: 20px;
         	width: 435px;
		 height: 341px;
	}
	.kallakar {
		 margin: 32px;
		 width: 90vw;
		 flex-direction: row;
		 justify-content: space-between;
		 align-content: center;
	}
	.kallakar .skill {
		 justify-self: center;
		 align-content: center;
		 justify-content: space-evenly;
		 width: 480px;
	}
	.kallakar .skill img {
		 left: 171px;
	}
	.kallakar .about {
		 justify-self: center;
		 justify-content: center;
		 padding: 48px;
	}
	 .kallakar .about p {
		 text-align: center;
	}
	.social {
		 display: flex;
		 flex-direction: row;
		 align-self: center;
		 justify-content: space-between;
	}
	.social h2 {
		 float: left;
		 margin-right: 32px;
		 margin-bottom: 24px;
	}
	 .social .sublink {
		 display: flex;
		 flex-direction: row;
	}
}
